# Drop Highly Correlated Features

Feature selection is a removing unnecessary features.

In [1]:
# Importing the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings("ignore")

# yfinance is used to fetch data 
import yfinance as yf
yf.pdr_override()

In [2]:
# input
symbol = 'AMD'
start = '2014-01-01'
end = '2018-08-27'

# Read data 
dataset = yf.download(symbol,start,end)

# View columns 
dataset.head()

[*********************100%***********************]  1 of 1 completed

            Adj Close  Close  High   Low  Open    Volume
Date
2014-01-02       3.95   3.95  3.98  3.84  3.85  20548400
2014-01-03       4.00   4.00  4.00  3.88  3.98  22887200
2014-01-06       4.13   4.13  4.18  3.99  4.01  42398300
2014-01-07       4.18   4.18  4.25  4.11  4.19  42932100
2014-01-08       4.18   4.18  4.26  4.14  4.23  30678700

In [3]:
dataset['Increase_Decrease'] = np.where(dataset['Volume'].shift(-1) > dataset['Volume'],1,0)
dataset['Buy_Sell_on_Open'] = np.where(dataset['Open'].shift(-1) > dataset['Open'],1,0)
dataset['Buy_Sell'] = np.where(dataset['Adj Close'].shift(-1) > dataset['Adj Close'],1,0)
dataset['Returns'] = dataset['Adj Close'].pct_change()
dataset = dataset.dropna()
dataset.head()

,Adj Close,Close,High,Low,Open,Volume,Increase_Decrease,Buy_Sell_on_Open,Buy_Sell,Returns
Date,,,,,,,,,,
2014-01-03,4.00,4.00,4.00,3.88,3.98,22887200,1,1,1,0.012658
2014-01-06,4.13,4.13,4.18,3.99,4.01,42398300,1,1,1,0.032500
2014-01-07,4.18,4.18,4.25,4.11,4.19,42932100,0,1,0,0.012106
2014-01-08,4.18,4.18,4.26,4.14,4.23,30678700,0,0,0,0.000000
2014-01-09,4.09,4.09,4.23,4.05,4.20,30667600,0,0,1,-0.021531

In [4]:
# Create correlation matrix
corr_matrix = dataset.corr().abs()

# Select upper triangle of correlation matrix
upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(np.bool))

# Find index of feature columns with correlation greater than 0.95
to_drop = [column for column in upper.columns if any(upper[column] > 0.95)]

In [5]:
# Drop features 
dataset.drop(dataset[to_drop], axis=1)

,Adj Close,Volume,Increase_Decrease,Buy_Sell_on_Open,Buy_Sell,Returns
Date,,,,,,
2014-01-03,4.000000,22887200,1,1,1,0.012658
2014-01-06,4.130000,42398300,1,1,1,0.032500
2014-01-07,4.180000,42932100,0,1,0,0.012106
2014-01-08,4.180000,30678700,0,0,0,0.000000
2014-01-09,4.090000,30667600,0,0,1,-0.021531
2014-01-10,4.170000,20840800,1,1,0,0.019560
2014-01-13,4.130000,22856100,1,0,1,-0.009592
2014-01-14,4.300000,42434800,1,1,1,0.041162
2014-01-15,4.470000,66613100,0,1,0,0.039535
2014-01-16,4.380000,46975600,0,0,0,-0.020134
2014-01-17,4.180000,45842700,1,1,0,-0.045662
2014-01-21,4.170000,58702900,1,0,0,-0.002392
2014-01-22,3.670000,86329500,0,0,0,-0.119904
2014-01-23,3.620000,29844700,1,0,0,-0.013624
2014-01-24,3.470000,48095800,0,0,0,-0.041436
2014-01-27,3.410000,31332300,0,0,1,-0.017291
2014-01-28,3.540000,27962600,0,1,0,0.038123
2014-01-29,3.480000,21765000,0,0,0,-0.016949
2014-01-30,3.480000,17111700,0,0,0,0.000000
2014-01-31,3.430000,13602100,1,0,0,-0.014368
2014-02-03,3.330000,22280200,1,0,1,-0.029155
2014-02-04,3.370000,22681000,0,1,0,0.012012
2014-02-05,3.310000,14858900,1,0,1,-0.017804
2014-02-06,3.410000,16072900,1,1,1,0.030212
2014-02-07,3.470000,23119700,0,1,1,0.017595
2014-02-10,3.630000,21241100,1,1,1,0.046110
2014-02-11,3.700000,34198100,0,1,0,0.019284
2014-02-12,3.690000,18321300,0,0,1,-0.002703
2014-02-13,3.700000,13368600,0,1,0,0.002710
2014-02-14,3.690000,12387900,0,0,1,-0.002703
...,...,...,...,...,...,...
2018-07-16,16.580000,65275300,0,1,1,0.019053
2018-07-17,16.870001,42313500,0,1,0,0.017491
2018-07-18,16.850000,40881500,1,0,0,-0.001186
2018-07-19,16.709999,41267800,1,0,0,-0.008309
2018-07-20,16.500000,42879800,1,0,1,-0.012567
2018-07-23,16.660000,44940800,1,1,0,0.009697
2018-07-24,16.190001,58201500,1,0,0,-0.028211
2018-07-25,16.049999,82604900,1,1,1,-0.008647
2018-07-26,18.350000,192661100,0,1,1,0.143302
2018-07-27,18.940001,161903800,0,1,1,0.032153
2018-07-30,19.420000,160823400,0,0,0,0.025343
2018-07-31,18.330000,118403400,0,0,1,-0.056128
2018-08-01,18.480000,75495200,0,0,1,0.008183
2018-08-02,18.790001,52867100,1,1,0,0.016775
2018-08-03,18.490000,53232100,1,0,1,-0.015966
2018-08-06,19.430000,83579700,0,1,1,0.050838
2018-08-07,19.559999,72822600,0,0,1,0.006691
2018-08-08,19.580000,52081400,0,1,0,0.001023
2018-08-09,19.100000,46653400,1,0,0,-0.024515
2018-08-10,19.059999,65821100,1,1,1,-0.002094
2018-08-13,19.730000,81411300,1,1,1,0.035152
2018-08-14,20.020000,89195500,0,0,0,0.014698
2018-08-15,19.700001,86355700,0,0,0,-0.015984
2018-08-16,19.330000,69733700,0,0,1,-0.018782
2018-08-17,19.770000,60616600,1,1,1,0.022763
2018-08-20,19.980000,62983200,0,1,1,0.010622
2018-08-21,20.400000,55629000,1,1,1,0.021021
2018-08-22,20.900000,62002700,1,1,1,0.024510
2018-08-23,22.290001,113444100,1,1,1,0.066507
2018-08-24,23.980000,164328200,0,0,0,0.075819